<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add number</h4>

    <form [ngClass]="validationClass">

      <div class="form-group">
        <label for="firstNumber">First Number:</label>
        <input type="number" class="form-control" id="firstNumber" name="firstNumber" placeholder="Write first number here" required="required" [(ngModel)]="result.firstNumber">
        <div class="invalid-feedback">Please fill out first number field.</div>
      </div>
      <div class="form-group">
        <label for="secondNumber">Second Number:</label>
        <input type="number" class="form-control" id="secondNumber" name="secondNumber" placeholder="Write second number here" required="required" [(ngModel)]="result.secondNumber">
        <div class="invalid-feedback">Please fill out second number field.</div>
      </div>
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="Write user name here" required="required" [(ngModel)]="user.userName">
        <div class="invalid-feedback">Please fill out first number field.</div>
      </div>

      <input type="button" class="btn btn-primary active" value="Save" (click)="saveUserResult()" />
    </form>
  </div>
</div>

<div [ngClass]="loadClass">
  <div class="loader"></div>
</div>
