<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add number</h4>

    <form class="was-validated">
      <div class="form-group">
        <label for="firstnumber">First Number:</label>
        <input type="text" class="form-control" id="firstnumber" required>
        <div class="invalid-feedback">Please fill out first number field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Second Number:</label>
        <input type="password" class="form-control" id="pwd" required>
        <div class="invalid-feedback">Please fill out second number field.</div>
      </div>
      
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>